@media screen and (max-width: 568px) {
  /* start header <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .header {
    margin-bottom: 0px;
  }
  .header-content {
    margin-top: 200px;
    color: #fff;
  }

  .navbar {
    height: 30px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav {
    float: none;
    width: 100%;
    margin-top: 10px;
    padding-left: 0px;
    height: 30px;
  }
  .logo {
    float: none;
    height: 30px;
    width: 100%;
    padding-right: 0px;
  }

  .header-content h1 {
    font-size: 40px;
  }
  .header-content p {
    font-size: 25px;
  }
  .header-content img {
    width: 85%;
  }
  .header-content button {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 700;
  }
  .header-content .learn-more {
    padding: 5px 12px;
  }

  .logo img {
    width: 0%;
  }

  /* end header>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /*start of who we are section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

  .who-we-are {
    height: 1000px;
    overflow: none;
  }
  .chef-image {
    height: 400px;
    width: 100%;
    float: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .chef-image img {
    width: 100%;
    height: 100%;
  }
  .who-we-are-content {
    height: 800px;
    width: 100%;
    float: none;
    padding-top: 0px;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section-title {
    margin-bottom: 5px;
    font-size: 25px;
  }
  .related-to-title {
    margin-bottom: 5px;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .desc-paragraph {
    margin-bottom: 5px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-left: 0px;
    padding-right: 20px;
  }
  .who-we-are-list {
    width: 100%;
    height: 300px;
    margin-left: 5px;
  }
  .who-we-are-list-item {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
  }
  .who-we-are-content .who-we-are-list .icon-background {
    width: 10%;
    height: 25px;
  }
  .who-we-are-content .who-we-are-list p {
    width: 90%;
  }
  .icon-who-we-are {
    padding: 5px 0px 0px 7px;
    font-size: 15px;
    text-align: center;
  }
  /*end of who we are section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /*start of why to like us section<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  .why-to-like-us {
    height: 800px;
    padding-top: 20px;
    margin: 20px 10px;
  }
  .why-to-like-us-content {
    height: 60%;
    width: 100%;
    padding-left: 0px;
  }
  .who-we-are-list li {
    font-size: 15px;
  }
  .reviewers-image {
    height: 40%;
    width: 100%;
  }
  .reviewers-image img {
    padding-right: 0px;
  }

  /*end of why to like us section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* start of flag-dishes section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

  .flag-dishes {
    height: 2800px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .flag-dishes .title {
    padding-top: 15px;
  }
  .proud-of-products {
    margin-bottom: 10px;
  }
  .product-proud-of {
    width: 100%;
    height: 400px;
  }
  .product-proud-of img {
    width: 100%;
  }
  .menue-paragraph {
    font-size: 16px;
  }
  .menue-button {
    width: 110px;
    height: 30px;
    margin-top: 20px;
    padding-top: 0px;
  }
  .menue-button a {
    font-size: 14px;
  }

  /* end of flag-dishes section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  /* start of where-are-we section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

  .where-are-we {
    height: 1000px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10px;
  }
  .where-are-we-content {
    width: 100%;
    float: none;
  }
  .restaurent-map {
    width: 85%;
    float: none;
    margin-left: 25px;
  }

  .icon-where-are-we {
    padding: 3px 0px 3px 3px;
    font-size: 12px;
  }
  /* end of where-are-we section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

  /* start of footer section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

  .footer {
    height: 1300px;
    padding-right: 0px;
    padding-left: 15px;
  }
  .about-us {
    width: 100%;
    height: 300px;
    float: none;
  }
  .about-us p {
    height: 130px;
    margin-top: 5px;
  }
  .useful-links {
    width: 100%;
    height: 240px;
    float: none;
    padding-left: 0px;
    margin-top: 0px;
  }

  .opening-hours {
    width: 100%;
    height: 350px;
    float: none;
    padding-left: 0px;
  }
  .contact-details {
    width: 100%;
    height: 300px;
    float: none;
    padding-left: 0px;
  }
  .Contact-Details-list .big {
    height: 50px;
  }
  .Contact-Details-list .normal {
    height: 25px;
  }

  /* end of footer section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* start of final section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

  .final-section {
    width: 100%;
  }
  .final-section-content {
    width: 100%;
  }
  .final-section img {
    width: 100%;
  }
  .social-media {
    margin-left: 40px;
  }

  .social-media-icon {
    font-size: 24px;
    font-weight: 400;
  }
  /* end of final section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
}
