.swiper{
    padding: 50px !important;;
    background-color: rgb(184, 229, 51);
}
.swiper-pagination-bullet{
    background-color: rgb(199, 15, 15,0.8) !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{

    background-color: rgb(47, 57, 195) !important;
}

  .swiper-pagination-bullets.swiper-pagination-horizontal{

     left: 80px !important;
    top: 50px !important;
    height:30px !important; 
} 

.swiper-custom-pagination{
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    }


.swiper-button-prev,.swiper-button-next{
    color: rgb(32, 32, 32)!important;
    background-color: rgb(147, 157, 157)!important;
    border-radius: 50%!important;
    -webkit-border-radius: 50%!;
    -moz-border-radius: 50%!;
    -ms-border-radius: 50%!;
    -o-border-radius: 50%!;
}

.swiper-button-prev{
    left: 50px !important;
}
.swiper-button-next{
right: 50px !important;
}

.swiper-button-next::after,.swiper-button-prev::after{
    font-size: 22px!important;
}



.categotry{
    display: flex !important;
    flex-direction: column;
    align-items: center;
}